@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rammetto+One&display=swap");

@import "tailwindcss";

body {
  background-color: black;
  color: #fffdec;
}

@theme {
  --font-rammetto: "Rammetto One", sans-serif;
  --font-sans: "Open Sans", sans-serif;
}
